.result-container {
    border: 6px dotted white;
    border-radius: 60px 60px 60px 60px;
}

.card-quote {
    width: 14rem; 
    min-height: 14rem;
}

.thumbnail{
    max-width: 8rem;
    max-height: 8rem;
    margin: 1rem;
}
.img-full-size{
    max-width: 14rem;
    height: 14rem;
}